nav {
  text-align: center;
}

html {
  font-size: 45%;
}

#logo {
  padding: 2rem;
}

button {
  padding: 2.5rem 6rem;
}

.cloud {
  height: 40%;
}

.locations-header {
  background-color: rgba(19,28,39,0.5);
  text-align: center;
}

.locations-header h2 {
  color: white;
  text-align: center;
}

.locations-header h3 {
  -webkit-text-fill-color: white;
  text-align: center;
}

.locations-header a {
  color: white;
}

.locations-header a::before {
  background-color: white;
}

.moving-cloud-2 {
  top: 8%;
}

.form-wrapper {
  width: 100%;
}

.footer-wrapper ul{
  margin-right: 5%;
}
